@import "tailwindcss";

* {
  @apply outline-0 border-0 select-none;
}

html, body, main {
  @apply relative size-full overflow-hidden;
}

.scroll-none {
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none; 
}

.scroll-none::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.grid-line {
  background-image:
   repeating-linear-gradient( 0deg, #dddddd22, #dddddd22 2px, #99bbff22 2px, #99bbff22 50px),
   repeating-linear-gradient( 90deg, #dddddd22, #dddddd22 2px, #99bbff22 2px, #99bbff22 50px);
}